Repository tc39/proposal-temporal, pull requests merged in 2021-12, with the labels that each got.

#1854 Move some PlainDate tests.
  polyfill/test/plaindate.mjs
Labels: no-spec-text

#1936 Next three meeting minutes
  meetings/agenda-minutes-2021-09-30.md
  meetings/agenda-minutes-2021-10-14.md
  meetings/agenda-minutes-2021-10-28.md
Labels: no-spec-text

#1954 Editorial: Move calendar validation out of ParseTemporalCalendarString
  spec/abstractops.html
  spec/calendar.html
Labels: spec-text

#1959 Support newer DateTimeFormat output
  polyfill/lib/ecmascript.mjs
Labels: non-prod-polyfill, no-spec-text

#1964 Fix TS types for required CalendarProtocol methods
  polyfill/index.d.ts
Labels: no-spec-text

#1968 Editorial: minor DRY refactor for RoundDuration
  polyfill/lib/ecmascript.mjs
  spec/duration.html
Labels: spec-text, non-prod-polyfill, editorial

#1975 Refactors to align ecmascript.mjs with spec text
  polyfill/lib/ecmascript.mjs
Labels: non-prod-polyfill, no-spec-text

#1980 Polyfill: remove unnecessary runtime assertions in PrepareTemporalFields and ToPartialRecord
  polyfill/lib/ecmascript.mjs
Labels: non-prod-polyfill, no-spec-text

#1974 Polyfill: Ensure that Temporal prototypes aren't writable
  polyfill/lib/intl.mjs
  polyfill/lib/shim.mjs
Labels: non-prod-polyfill

#1979 Remove `zoneRequired` option in ParseTemporalTimeZoneString & better align parsing to spec
  polyfill/lib/ecmascript.mjs
  polyfill/lib/regex.mjs
Labels: non-prod-polyfill, no-spec-text

#1976 Polyfill: Throw RangeError if there's an invalid `offset` string in `ZonedDateTime`-representing property bags
  polyfill/lib/ecmascript.mjs
  polyfill/lib/timezone.mjs
  polyfill/lib/zoneddatetime.mjs
  polyfill/test/duration.mjs
  polyfill/test/zoneddatetime.mjs
Labels: non-prod-polyfill, no-spec-text

#1977 Polyfill: fix a few non-ISO calendar issues
  polyfill/lib/calendar.mjs
Labels: non-prod-polyfill, no-spec-text

#1962 Meeting minutes from November
  meetings/agenda-minutes-2021-11-05.md
  meetings/agenda-minutes-2021-11-18.md
Labels: no-spec-text

#1693 Normative: Add missing RequireInternalSlot
  spec/calendar.html
  spec/timezone.html
Labels: spec-text, needs plenary input

#1907 Normative: Simplify Duration parsing
  spec/abstractops.html
Labels: spec-text, needs plenary input

#1926 Normative: Fix off-by-one in BalanceISODate for leap year inputs
  spec/plaindate.html
Labels: spec-text, needs plenary input

#1931 Normative: Fix "smallestUnit" property name for options objects created from string argument
  spec/duration.html
  spec/instant.html
  spec/plaindatetime.html
  spec/plaintime.html
  spec/zoneddatetime.html
Labels: spec-text, needs plenary input

#1946 Normative: Fix indentation error
  spec/abstractops.html
Labels: spec-text, needs plenary input

#1955 Normative: Make PlainDate difference methods units handling consistent
  spec/plaindate.html
Labels: spec-text, needs plenary input

#1957 Normative: Fix ambiguity in FractionalPart grammar
  spec/abstractops.html
Labels: spec-text, needs plenary input

#1947 Normative: Use modulo instead of remainder in GetISOPartsFromEpoch
  spec/timezone.html
Labels: spec-text, needs plenary input

#1950 Normative: Add optional calendar to PlainTime, PlainYearMonth, and PlainMonthDay productions
  polyfill/test/validStrings.mjs
  spec/abstractops.html
Labels: spec-text, needs plenary input

#1956 Normative: Fix fractionalSecondDigits behaviour in Duration.toString()
  polyfill/lib/ecmascript.mjs
  polyfill/test/duration.mjs
  spec/duration.html
Labels: spec-text, needs plenary input

#1986 Improve "missing time in string" error message
  polyfill/lib/ecmascript.mjs
  polyfill/test/plaintime.mjs
Labels: non-prod-polyfill, no-spec-text
