Repository tc39/proposal-temporal, pull requests merged in 2021-11, with the labels that each got.

#1865 Normative: Throw earlier in ZonedDateTime.with if offset field is missing
  polyfill/lib/zoneddatetime.mjs
  spec/zoneddatetime.html
Labels: spec-text, needs plenary input

#1609 Editorial: Simplify ParseTemporalMonthDayString
  spec/abstractops.html
Labels: spec-text

#1913 Editorial: Remove relativeTo presence check in UnbalanceDurationRelative
  spec/duration.html
Labels: spec-text

#1855 Docs: `compare` methods now ignore calendar/TZ
  docs/plaindate.md
  docs/plaindatetime.md
  docs/plainyearmonth.md
  docs/zoneddatetime.md
Labels: documentation, no-spec-text

#1872 Normative: Temporal.Duration constructor throws if given a non-integer
  polyfill/lib/duration.mjs
  polyfill/lib/ecmascript.mjs
  polyfill/test/duration.mjs
  spec/abstractops.html
  spec/duration.html
Labels: spec-text

#1829 Normative: Remove step 2 of GetOffsetNanosecondsFor
  spec/timezone.html
Labels: spec-text

#1925 Bring polyfill in line with ParseTemporalTimeZone operation in specification
  polyfill/lib/ecmascript.mjs
  polyfill/test/expected-failures.txt
  polyfill/test/regex.mjs
Labels: no-spec-text

#1873 Normative: Treat relativeTo parameters as PlainDate or ZonedDateTime
  docs/balancing.md
  docs/duration.md
  polyfill/lib/ecmascript.mjs
  polyfill/lib/plaindate.mjs
  polyfill/lib/plaindatetime.mjs
  polyfill/lib/plainyearmonth.mjs
  spec/abstractops.html
  spec/duration.html
  spec/plaindate.html
  spec/plaindatetime.html
  spec/plainyearmonth.html
Labels: spec-text

#1934 Initialize post as empty String in FormatTimeZoneOffsetString
  spec/timezone.html
Labels: spec-text

#1935 Editorial: Simplify Duration parsing
  spec/abstractops.html
Labels: spec-text

#1831 Meeting minutes for the last three meetings
  meetings/agenda-minutes-2021-08-19.md
  meetings/agenda-minutes-2021-09-02.md
  meetings/agenda-minutes-2021-09-16.md
Labels: no-spec-text

#1930 Update obsolete legacy Date cookbook examples
  docs/cookbook.md
  docs/cookbook/all.mjs
  docs/cookbook/dateTimeFromLegacyDate.mjs
  docs/cookbook/fromLegacyDate.mjs
  docs/cookbook/instantFromLegacyDate.mjs
  docs/cookbook/legacyDateFromDateTime.mjs
  docs/cookbook/toLegacyDate.mjs
  polyfill/README.md
Labels: no-spec-text

#1874 Normative: Don't accept Z designators in strings for Plain types
  polyfill/lib/ecmascript.mjs
  polyfill/test/expected-failures.txt
  polyfill/test/plaindatetime.mjs
  polyfill/test/plaintime.mjs
  polyfill/test/plainyearmonth.mjs
  polyfill/test/regex.mjs
  spec/abstractops.html
Labels: spec-text

#1942 Document workarounds for parsing Z strings
  docs/plaindate.md
  docs/plaindatetime.md
  docs/plainmonthday.md
  docs/plaintime.md
  docs/plainyearmonth.md
Labels: documentation, no-spec-text

#1945 Fix TS types of RoundTo and TotalOf to allow plural unit names
  polyfill/index.d.ts
Labels: typescript, no-spec-text
