Repository tc39/proposal-temporal, pull requests merged in 2022-06, with the labels that each got.

#2251 Editorial: Rename DefaultMergeFields to DefaultMergeCalendarFields
  spec/calendar.html
  spec/intl.html
Labels: editorial

#2244 Editorial: Refactor Parse operations
  spec/abstractops.html
  spec/timezone.html
Labels: spec-text, editorial

#2241 Editorial: Align `DifferenceTemporalInstant` with similar AOs
  spec/instant.html
Labels: spec-text

#2248 Editorial: Simplify operations
  polyfill/lib/calendar.mjs
  polyfill/lib/duration.mjs
  polyfill/lib/ecmascript.mjs
  polyfill/lib/instant.mjs
  polyfill/lib/plaindatetime.mjs
  polyfill/lib/plaintime.mjs
  polyfill/lib/zoneddatetime.mjs
  spec/abstractops.html
  spec/calendar.html
  spec/duration.html
  spec/instant.html
  spec/intl.html
  spec/plaindate.html
  spec/plaindatetime.html
  spec/plaintime.html
  spec/plainyearmonth.html
  spec/zoneddatetime.html
Labels: spec-text, non-prod-polyfill, editorial

#2263 Editorial: Add note about the importance of exact arithmetic
  spec/abstractops.html
Labels: enhancement, spec-text, editorial

#2193 Normative: Allow non-402 implementations to support non-iso8601 calendars
  spec/calendar.html
  spec/intl.html
Labels: behavior, spec-text, calendar, normative

#2302 Editorial: Fix some references to Calendar prototype properties.
  spec/calendar.html
Labels: editorial

#2189 Normative: Remove check for Instant range before subtracting UTC offset
  polyfill/lib/ecmascript.mjs
  spec/instant.html
Labels: spec-text
