Repository tc39/proposal-temporal, pull requests merged in 2022-07, with the labels that each got.

#2337 Editorial: Improve the "NotAmbiguous" grammar
  spec/abstractops.html
Labels: enhancement, spec-text, normative

#2348 Editorial: Fix typos
  spec/duration.html
  spec/timezone.html
Labels: editorial, no-spec-text

#2309 Editorial: Remove unnecessary explicit link suppression
  spec/duration.html
  spec/zoneddatetime.html
Labels: editorial

#2261 Normative: Disallow negative day lengths
  spec/zoneddatetime.html
Labels: spec-text, normative

#2266 Normative: Disallow arbitrary integers for the reference ISO year in PlainMonthDay
  spec/plainmonthday.html
Labels: normative

#2351 Normative: Disallow out-of-range return from previous / next transition
  spec/timezone.html
Labels: spec-text, normative

#2292 Normative: Support IANA legacy names
  spec/abstractops.html
Labels: normative

#2297 Normative: Validate fractionalSecondDigits after truncation
  polyfill/lib/ecmascript.mjs
  spec/abstractops.html
Labels: spec-text, normative
