Repository tc39/proposal-temporal, pull requests merged in 2022-05, with the labels that each got.

#2185 Editorial: Compare Parse Node positions using "contained within" rather than "enclosed by"
  spec/abstractops.html
Labels: spec-text, editorial

#2187 Editorial: Remove unnecessary productions
  spec/abstractops.html
Labels: spec-text, editorial

#2201 Editorial: Remove faulty assertion
  spec/duration.html
Labels: spec-text

#2202 Editorial: Improve the spec for Intl operations
  spec/intl.html
Labels: editorial

#2184 Editorial: Align DifferenceTemporalPlainTime with other Difference* AOs
  spec/plaintime.html
Labels: spec-text

#2208 Editorial: Fix typo
  spec/plainyearmonth.html
Labels: no-spec-text

#2211 Polyfill: Lunisolar math fixes
  polyfill/lib/calendar.mjs
  polyfill/test/intl.mjs
Labels: non-prod-polyfill, no-spec-text
