Repository tc39/proposal-temporal, pull requests merged in 2022-03, with the labels that each got.

#2036 Editorial: Adjust grammar for years to exclude -000000
  polyfill/test/validStrings.mjs
  spec/abstractops.html
Labels: spec-text

#2078 [polyfill] Match spec more closely for Duration
  polyfill/lib/duration.mjs
  polyfill/lib/ecmascript.mjs
  polyfill/lib/plaindatetime.mjs
  polyfill/lib/plaintime.mjs
  polyfill/lib/plainyearmonth.mjs
  polyfill/lib/zoneddatetime.mjs
Labels: non-prod-polyfill, no-spec-text

#2089 Editorial: Get on the result of PrepareTemporalFields can't fail.
  spec/calendar.html
Labels: spec-text

#2093 [polyfill] Remove dead code from ecmascript.mjs.
  polyfill/lib/ecmascript.mjs
Labels: non-prod-polyfill, no-spec-text

#2102 More editorial Duration stuff
  spec/duration.html
  spec/instant.html
  spec/zoneddatetime.html
Labels: spec-text

#2000 Normative: Don't validate numeric timezone in ToRelativeTemporalObject
  spec/abstractops.html
Labels: spec-text, needs plenary input

#2002 Normative: Fix sign in PlainYearMonth.subtract
  spec/plainyearmonth.html
Labels: spec-text, needs plenary input

#2043 Normative: sameTemporalType checks for InitializedTemporalMonthDay
  spec/intl.html
Labels: spec-text

#2003 Normative: Correct PlainYearMonth arithmetic for non-ISO calendars
  spec/plainyearmonth.html
Labels: spec-text

#2090 Normative: Adjust ISO8601 representation for years between 1 BCE and 999 CE
  docs/cookbook/makeExpandedTemporal.mjs
  polyfill/lib/ecmascript.mjs
  polyfill/test/timezone.mjs
  polyfill/test/zoneddatetime.mjs
  spec/plaindate.html
Labels: spec-text
