Repository tc39/proposal-temporal, pull requests merged in 2022-08, with the labels that each got.

#2298 Normative: Fix Duration.prototype.total() return value
  polyfill/lib/duration.mjs
  polyfill/lib/ecmascript.mjs
  spec/duration.html
Labels: spec-text, non-prod-polyfill, normative

#2344 Normative: Correct BalanceDurationRelative algorithm
  spec/duration.html
Labels: spec-text, normative

#2199 Editorial: Accommodate calendar-specific fields in non-ISO ...FromFields() methods
  polyfill/lib/calendar.mjs
  spec/intl.html
Labels: spec-text
