Repository tc39/proposal-temporal, pull requests merged in 2023-02, with the labels that each got.

#2498 Editorial: Fix typo in internal slot name
  spec/timezone.html
Labels: bug, spec-text, editorial

#2502 Prevent auto-link of "safe" in "DST-safe"
  spec.html
Labels: spec-text, editorial

#2503 Docs for leap days/months and skipped dates
  docs/calendar.md
Labels: documentation, no-spec-text

#2507 Editorial: Remove redundant redefinition of "ASCII-case-insensitive"
  spec/timezone.html
Labels: editorial, no-spec-text
